
</body>
</html>
<script>
// Register a service worker hosted at the root of the
// site using the default scope.
if ('serviceWorker' in navigator) {
navigator.serviceWorker.register('/sw.js').then(function(registration) {
  console.log('Service worker registration succeeded:', registration);
}, /*catch*/ 
// Give error message if somting goes wrong
function(error) {
  console.log('Service worker registration failed:', error);
});
} 

// If service worker is not supported do this
else {
  console.log('Service workers are not supported.');
}

        
</script>