<!DOCTYPE html>
<html lang="nl">
<head>
    <title>Art-API</title>
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta name="theme-color" content="#000000">
     <meta name="description" content="Een kunst app met verschillende kunst van het rijksmuseum">
    <script  type="module" src="js/script.js"></script>
    <link rel="manifest" href="/manifest.json">
    <link rel="apple-touch-icon" href="/icon/icon-192x192.png">
</head> 
<body>