<!-- Load header -->
<%- include('./partials/head') %>

<h1>Page not found</h1>
<a href="javascript:history.back()">Vorige pagina</a>
<a href="/">Startpagina</a>

<!-- Load footer -->
<%- include('./partials/foot') %>
