doctype html
html
  head
    title Art-API
    link(rel='stylesheet' href='stylesheets/style.css')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    script(type='module' src='javascripts/script.js')
  body
    ul
      li
      li
      li
    .loading
      .loader
    .error
      p Error Api werkt niet
    .menu
      h2 Settings
      p Filter artist
      select#selectNumber
        option.defaultOption Choose a artist
    .menuButton
      div
